<div class="meta">
  <img class="wp-post-image" src="<%= asset_path('profile.jpg')%>" alt="Blog image" width="748" height="324">
  <div class="meta__container">
    <div class="row">
      <div class="col-xs-12  col-sm-8">
        <div class="meta__info">
          <span class="meta__author">
            <img src="<%= asset_path('profile.jpg')%>" alt="Meta avatar" width="30" height="30">
             <a href="#">Danielle Thatcher</a> in <a href="#">News</a>
          </span>
          <span class="meta__date">
            <span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
        </div>
      </div>
      <div class="col-xs-12  col-sm-4">
        <div class="meta__comments">
          <span class="glyphicon glyphicon-comment"></span> &nbsp;
          <a href="single-post.html#disqus_thread"></a>
        </div>
      </div>
    </div>
  </div>
</div>
